*{
    font-family: sans-serif;
}

.header1{
    display: flex;
    justify-content: space-around;
}
#assine{
    background-color: red;
    color: white;
}
.textheader{
    color: grey;
}
.header2{
    display: flex;
    margin-left: 60px;
}
.linhad{
    margin-left: 60px;
    margin-right: 60px;
}
.header3{
    display: flex;
    flex-direction: column;
    height: 80;
    width: 500;
    margin-left: 1100px;
}
.header4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.textheader4{
    color: grey;
}
.titulon{
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin-left: 70px;
}
.noticias{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.noticia1{
    margin-left: 60px;
    height: 200;
    width: 700px;
}
.noticia12{
    display: flex;
    background-color: red;
    height: 100px;
    justify-content: space-around;
    align-items:center;
}
.textnoticia1{
    color: white;
    padding: 10px;
}
.textnoticia12{
    color:lightgrey;
}
.noticia2{
    display: flex;
}
.textnoticias{
    color: red;
    font-weight: bold;
}
.textnoticias2{
    color:grey
}
.linhanot{
    border-left: 2 solid lightgrey;
    margin-left: 60;
}
.cinza{
    height: 300;
    background-color: grey; 
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.play{
    color:white;
    margin-left: 60px;
}
iframe{
    margin-right: 200px;
}