*{
    font-family: "Press Start 2P", system-ui;
    font-size: 24px;
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    position: relative;
    height: 100%;
}

#telaescolha::before{
  content: "";
  position: fixed;
  inset: 0;

  background: url(imagens/cenariorpg.png) center/cover no-repeat;

  filter: blur(8px);
  z-index: -1;
}

.barra-superior {
  width: 100%;
  height: 70px;
  background-color: #1B4332;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  text-align: center;
}

.titulo {  
    color:white;
    margin-top: 18px;   
    font-size:25px;
    font-weight: bold;
    font-family:'Segoe UI';
    transition: all 0.3s ease;
}

.titulo:hover{
    color: #5cff9d;
    transform: scale(1.03);
}


.logo{
    margin-left: 750px;
}

#telaescolha{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    gap: 150px;
}
.personagens{
    width: 400px;
    height: 500px;
    align-items: center;
    border-radius: 15px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.personagens:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.linha{
    width: 350px;
    height: 2px;
    background-color: black;
}

.status{
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
}

.stat{
    font-size: 20px;
    margin-top: 22px;
}

.statu1{
    font-size: 20px;
    margin-top: 22px;
    color: green;  
}

.statu2{
    font-size: 20px;
    margin-top: 22px;
    color: red; 
}
#escolhermago {
  font-size: 30px;
  text-align: center;
  animation: piscar 1.2s infinite;
}
#escolherguerreiro {
  font-size: 30px;
  text-align: center;
  animation: piscar 1.2s infinite;
}
@keyframes piscar {
  0% {
    transform: scale(1);
    color: #ff0000;
    opacity: 1;
  }
  33% {
    transform: scale(1.2);
    color: #0400ff;
    opacity: 0.6;
  }
  66% {
    transform: scale(1.1);
    color: #15ff00;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    color: #ff0000;
    opacity: 1;
  }
}

#telacombate{
    width: 100%;
    height: 100vh;
    margin: 0;
    background: url(imagens/cenariorpg.png) center/cover no-repeat;
    position: relative;
}

#imgjogador {
  position: absolute;
  left: 120px;
  top: 350px;
}

#imginimigo {
  position: absolute;
  bottom: 120px;
  right: 150px;
}

.divsobrejogo {
  position: relative;
  width: 1905px;
  height: 600px;
  overflow: hidden;
}

.imgsobrejogo{
    position: absolute;
  inset: 0;
  background: url("imagens/videogame.png") center/cover;
  filter: blur(10px);
  transform: scale(1.1);
}

.divtextosobrejogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Segoe UI';
}
#desenvolvedores{
  position: absolute;
  top: 95%;
  left: 50%;
  background-color: #2D6A4F;
  height: 75px;
  width: 300px;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  text-align: center;
}

#desenvolvedores p:hover{
    color: #5cff9d;
    transform: scale(1.1);
}

#desenvolvedores p{
  font-family: 'Segoe UI';
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.sobreojogo{
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

.textosobrejogo{
  font-family: 'Segoe UI';
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: justify;
}

#jornada{
  background-color: #2D6A4F;
  height: 100px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jornada p{
  font-family: "Press Start 2P", system-ui;
  animation: piscarjornada 1.2s infinite;
  color: #5cff9d;
  font-size: 16px;
}

@keyframes piscarjornada {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#aaa{
  display: flex;
  width: 100%;
  justify-content: center;
}

.divquemsomos {
  position: relative;
  width: 1905px;
  height: 600px;
  overflow: hidden;
}

.imgquemsomos{
    position: absolute;
  inset: 0;
  background-color: #659e84;
  transform: scale(1.1);
}

.divtextoquemsomos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Segoe UI';
}

#irinicio{
  position: absolute;
  top: 95%;
  left: 50%;
  background-color: #2D6A4F;
  height: 75px;
  width: 300px;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#irinicio p:hover{
    color: #5cff9d;
    transform: scale(1.1);
}

#irinicio p{
  font-family: 'Segoe UI';
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-bottom: 12px;
}

.umquemsomos{
  display: flex;
  justify-content: center;
  gap: 150px;
  width: 100%;
  align-items: center;
}

.textoquemsomos{
  max-width: 400px;
}

.nome{
  font-weight: bolder;
  font-size: 28px;
}

.coisas{
  font-weight: bold;
  font-size: 22px;
  color: rgb(78, 78, 78);
}

.sobremim{
  max-width: 780px;
  margin: 0 auto;
  padding: 40px 20px;
}

.textosobremim{
  font-family: 'Segoe UI';
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: justify;
}

#imginimigo{
  margin-left: 1300px;
  margin-top: 350px;
}

.acoes{
  background-color: antiquewhite;
  width: 250px;
  height: 150px;
  left: 500px;
  top: 400px;
  position: absolute;
  border-radius: 12px;
}

#atacar{
  display: flex;
  align-items: center;
}
#atacar p{
  margin-left: 10px;
  transition: all 0.3s ease;
}
#atacar p:hover{
  color: red;
  transform: scale(1.2);
}

#curar{
  display: flex;
  align-items: center;
}
#curar p{
  margin-left: 20px;
  transition: all 0.3s ease;
}
#curar p:hover{
  color: red;
  transform: scale(1.2);
}

.linhadois{
    width: 220px;
    height: 2px;
    background-color: black;
    margin-left: 14px;
}

.vida{
  width: 150px;
  height: 25px;
  border: black solid 1px;
  background-color: white;
  margin-bottom: 5px;
  position: absolute;
  left: 290px;
  top: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.vida div{
  height: 100%;
  width: 100%;
  background-color: red;
  transition: width 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vidainimigo{
  width: 150px;
  height: 25px;
  border: black solid 1px;
  background-color: white;
  margin-bottom: 5px;
  position: absolute;
  left: 1415px;
  top: 390px;
  border-radius: 5px;
  overflow: hidden;
}

.vidainimigo div{
  height: 100%;
  width: 100%;
  background-color: red;
  transition: width 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vidanumeroinimigo{
  color: white;
  font-size: 14px;
}

#vidanumerojogador{
  color: white;
  font-size: 14px;
}

@keyframes tremer {
  0% { transform: translate(0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(0); }
}

.dano {
  animation: tremer 0.3s;
}

@keyframes curar {
  0% { filter: brightness(1); }
  50% { filter: brightness(2) hue-rotate(90deg); }
  100% { filter: brightness(1); }
}

.cura {
  animation: curar 0.5s;
}

#resultado{
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  animation: piscarresultado 0.8s infinite;
  background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

@keyframes piscarresultado {
  0% {
    transform: scale(1);
  } 
  33% {
    transform: scale(1.3);
  }
  66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}